rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /exercises/{document=**} {
      allow read, write: if true;
    }
    match /workout_logs/{document=**} {
      allow read, write: if true;
    }
  }
}
