rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /exercises/{docId} {
      allow create: if request.auth != null && request.resource.data.user_id == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.user_id == request.auth.uid;
    }
    match /workout_logs/{docId} {
      allow create: if request.auth != null && request.resource.data.user_id == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.user_id == request.auth.uid;
    }

    match /workout_notes/{docId} {
      allow create: if request.auth != null && request.resource.data.user_id == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.user_id == request.auth.uid;
    }

    match /bodyweight_logs/{docId} {
      allow create: if request.auth != null && request.resource.data.user_id == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.user_id == request.auth.uid;
    }

    match /userRoutines/{docId} {
      allow create: if request.auth != null && request.resource.data.user_id == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.user_id == request.auth.uid;
    }

    match /userMuscleGroups/{userId} {
      allow create: if request.auth != null && userId == request.auth.uid;
      allow read, update, delete: if request.auth != null && userId == request.auth.uid;
    }

    match /userDayMappings/{userId} {
      allow create: if request.auth != null && userId == request.auth.uid;
      allow read, update, delete: if request.auth != null && userId == request.auth.uid;
    }
  }
}


#firebase deploy --only firestore:rules
